@import url('https://fonts.googleapis.com/css2?family=Moul&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Suwannaphum:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.datepicker-icon-class{
    padding-left: 7.5rem !important;
}

.moul-font {
    font-family: 'Moul', serif;
}
.sovan-font {
    font-family: 'Suwannaphum', serif;
}
.custom-left { left: 10px !important; }
.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
    width: 100%;
    @apply rounded-lg

    border border-gray-300;
}

